---
page_title: "Provider: RDS Configuration"
description: |-
  The RDS Configuration provider manages RDS settings in an AWS RDS MySQL
  instance or Aurora MySQL cluster.
---

# RDS Configuration Provider

The RDS Configuration provider manages RDS settings in an AWS RDS MySQL instance
or Aurora MySQL cluster. These configuration settings cannot be controlled by
the AWS API or console UI. Instead, they are maintained in the MySQL database
itself and are managed with the `mysql.rds_show_configuration()` and
`mysql.rds_set_configuration()` stored procedures.

Thus, this provider requires credentials to log into the database in order to
make these stored procedure calls. If you are already managing the
`aws_db_instance` or `aws_rds_cluster` in Terraform, you can use the same values
you provide for `username`/`password` or `master_username`/`master_password` in
these resources, respectively. You can also use the `endpoint` attribute from
these resources (or data sources) for this provider.

## Available Settings

According to [the `rds_set_configuration`
documentation](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/mysql_rds_set_configuration.html),
the only (currently) supported settings are:

* `binlog retention hours`: RDS MySQL DB instances and Aurora MySQL clusters
* `target delay`: RDS MySQL DB instances only

For `binlog retention hours`, values of `0` in Terraform will be automatically
converted to `NULL` in the database and vice-versa.

## Single Configuration Resource per Provider

You can create multiple instances of the RDS Configuration provider to manage
several individual RDS instances or Aurora clusters; however, you can (should)
only create one `rds-configuration_configuration` resource for each
provider. While you technically _can_ create multiple configuration resources,
if any of them managed the same settings, they will collide, flipping the values
with each `apply`.

As a reminder of this, all `rds-configuration_configuration` resources have an
`id` of `singleton`.

## Example Usage

### Provider

{{ tffile "examples/provider/provider.tf" }}

### Data Source

The RDS Configuration data source simply pulls the results of the
`mysql.rds_show_configuration()` stored procedure into Terraform. This will
provide a list of all of the supported settings as well as their
descriptions. The `setting` attribute is a list of maps with the keys `name`,
`value`, and `description`.

{{ tffile "examples/data-sources/rds-configuration_configuration/data-source.tf" }}

### Resource

The RDS Configuration resource manages one or more settings — there are only a
few settings supported in RDS/Aurora — via `setting` blocks with attributes
`name` and `value`.

{{ tffile "examples/resources/rds-configuration_configuration/resource.tf" }}

### Importing

An RDS Configuration resouce can be imported by providing any value for `id`,
but as stated above the provider will always use `singleton` for the `id`.

{{ codefile "shell" "examples/resources/rds-configuration_configuration/import.sh" }}
